body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; /*animacion de 0.3 segundos*/
}
.link-button:hover {
    background-color: #e0e0e0; /*cambiar el color cuando paso el cursor*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* mas sombra */
}
